* {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    align-content: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
}

footer p {
    text-align: right;
}